* {
    box-sizing: border-box;
}
header {
    background-color: rgb(58, 106, 236);
    color: white;
    text-align: center;
    padding-bottom: 1px;
}

li a{
    text-decoration: none;
    color: white;
} 

li {
    display: inline;   
    margin-right: 30px;
    padding: 10px; 
}

html, body, header, h1 {
    margin: 0;
}
.photo {
    display: inline;
    
    
}

img {
    border: 1px solid #000;
    width: 30%;
    height: auto;
    margin-left: 2%;
}

img:hover {
    opacity: .7;
}
.gallery {
    margin: 10px 10%; 
}

@media (max-width:600px) {
    img {
        width: 45%;
    }
}

@media (max-width: 350px) {
    img {
        width: 98%;
    }

    li {
        margin-left: 5px;
        margin-right: 0px;
    }
    ul li:first-child {
        margin-left: 0;
    }
    ul {
        padding-left: 15px;
    }
}